<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 data-translate="settings.title" translate-values="{username: '{{vm.settingsAccount.login}}'}">User settings for [<b>{{vm.settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success" data-translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

           <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="firstName" data-translate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required" data-translate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength" data-translate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength" data-translate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName" data-translate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required" data-translate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength" data-translate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength" data-translate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email" data-translate="global.form.email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required" data-translate="global.messages.validate.email.required">
                            Your email is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email" data-translate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength" data-translate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength" data-translate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="imageUrl" data-translate="global.form.imageurl">ImageUrl</label>
                    <input type="url" class="form-control" id="imageUrl" name="imageUrl" placeholder="{{'global.form.imageurl.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.imageUrl" ng-maxlength=100 required maxlength="100">
                    <img ng-if="vm.settingsAccount.imageUrl" data-ng-src="{{vm.settingsAccount.imageUrl}}_s.jpg" alt="{{'global.form.imageurl' | translate}}">
                    <div ng-show="form.imageUrl.$dirty && form.imageUrl.$invalid">
                        <p class="help-block"
                               ng-show="form.imageUrl.$error.required" data-translate="global.messages.validate.imageurl.required">
                            Your image Url is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.imageUrl.$error.url" data-translate="global.messages.validate.imageurl.invalid">
                            Your image Url is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.imageUrl.$error.imageUrl" data-translate="global.messages.validate.imageurl.invalid">
                            Your image Url is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.imageUrl.$error.maxlength" data-translate="global.messages.validate.imageurl.maxlength">
                            Your image Url cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="phoneNumber" data-translate="global.form.phonenumber">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="{{'global.form.phonenumber.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.phoneNumber" ng-minlength=10 ng-maxlength=20 required>
                    <div ng-show="form.phonenumber.$dirty && form.phonenumber.$invalid">
                        <p class="help-block"
                           ng-show="form.phonenumber.$error.required" data-translate="global.messages.validate.phonenumber.required">
                            Your phone number is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.phonenumber.$error.minlength" data-translate="global.messages.validate.phonenumber.minlength">
                            Your phone number is required to be at least 10 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.phonenumber.$error.maxlength" data-translate="global.messages.validate.phonenumber.maxlength">
                            Your phone number cannot be longer than 20 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group" ngf-drop ngf-change="vm.setPhoto($file)" ngf-pattern="'image/*'">
                    <label class="control-label" data-translate="scmApp.settingsAccount.photo" for="field_photo">Photo</label>
                    <div>
                        <img data-ng-src="{{'data:' + vm.settingsAccount.photoContentType + ';base64,' + vm.settingsAccount.photo}}" style="max-height: 100px;"
                            ng-if="vm.settingsAccount.photo" alt="member image" />
                        <div ng-if="vm.settingsAccount.photo" class="help-block clearfix">
                            <span class="pull-left">{{vm.settingsAccount.photoContentType}}, {{vm.byteSize(vm.settingsAccount.photo)}}</span>
                            <button type="button" ng-click="vm.settingsAccount.photo=null;vm.settingsAccount.photoContentType=null;" class="btn btn-default btn-xs pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <button type="button" ngf-select class="btn btn-default btn-block" ngf-change="vm.setPhoto($file)" accept="image/*" data-translate="entity.action.addimage">
                            Add image
                        </button>
                    </div>
                    <input type="hidden" class="form-control" name="photo" id="field_photo" ng-model="vm.settingsAccount.photo" />
                    <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType" ng-model="vm.settingsAccount.photoContentType"/>
                </div>
                <div class="form-group">
                    <label for="langKey" data-translate="settings.form.language">Language</label>
                    <select id="langKey" name="langKey" class="form-control" ng-model="vm.settingsAccount.langKey" ng-controller="JhiLanguageController as languageVm" ng-options="code as (code | findLanguageFromKey) for code in languageVm.languages"></select>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" data-translate="settings.form.button">Save</button>
            </form>
        </div>
    </div>

</div>
