<div>
    <h2 data-translate="scmApp.member.home.title">Members</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="member-scm.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="scmApp.member.home.createLabel">
                        Create new Member
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="scmApp.member.phoneNumber">Phone Number</span></th>
                    <th><span data-translate="scmApp.member.mobilePhoneNumber">Mobile Phone Number</span></th>
                    <th><span data-translate="scmApp.member.photo">Photo</span></th>
                    <th><span data-translate="scmApp.member.birthDate">Birth Date</span></th>
                    <th><span data-translate="scmApp.member.job">Job</span></th>
                    <th><span data-translate="scmApp.member.showInfo">Show Info</span></th>
                    <th><span data-translate="scmApp.member.user">User</span></th>
                    <th><span data-translate="scmApp.member.address">Address</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in vm.members track by member.id">
                    <td><a ui-sref="member-scm-detail({id:member.id})">{{member.id}}</a></td>
                    <td>{{member.phoneNumber}}</td>
                    <td>{{member.mobilePhoneNumber}}</td>
                    <td>
                        <a ng-if="member.photo" ng-click="vm.openFile(member.photoContentType, member.photo)">
                            <img data-ng-src="{{'data:' + member.photoContentType + ';base64,' + member.photo}}" style="max-height: 30px;" alt="member image"/>
                        </a>
                        <span ng-if="member.photo">{{member.photoContentType}}, {{vm.byteSize(member.photo)}}</span>
                    </td>
                        <td>{{member.birthDate | date:'mediumDate'}}</td>
                    <td>{{member.job}}</td>
                    <td>{{member.showInfo}}</td>
                    <td>
                        {{member.userId}}
                    </td>
                    <td>
                        <a ui-sref="address-scm-detail({id:member.addressId})">{{member.addressId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="member-scm-detail({id:member.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="member-scm.edit({id:member.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="member-scm.delete({id:member.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
